/**
 * Typography Styles
 */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var(--color-text-primary);
}

h1 {
  font-size: var(--font-size-2xl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

p {
  margin: 0 0 var(--spacing-md) 0;
  line-height: var(--line-height-normal);
}

a {
  color: var(--highlight-color);
  text-decoration: none;
  transition: color var(--transition-fast);
}

a:hover {
  color: var(--highlight-color-on-white);
  text-decoration: underline;
}

/* Button fraction styling for time signatures */
.buttonFraction {
  display: inline-block;
  line-height: 1;
}

.buttonFraction sup {
  font-size: 0.7em;
  vertical-align: super;
}

.buttonFraction sub {
  font-size: 0.7em;
  vertical-align: sub;
}

